.card{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
}

.card-image{
    max-width: 90%;
    height: auto;
    border-radius: 20%;
    margin-bottom: 12px;
}

.card:hover{
   box-shadow: 5px 4px 8px rgba(2, 21, 189, 0.801);
}